@layer block {
	@scope (state-placeholder) {
		:scope {
			display: flex;
			flex: 1;
			align-items: center;
			justify-content: center;
		}

		.state-center {
			display: flex;
			flex-direction: column;
			gap: var(--space-2xs);
			align-items: center;

			text-align: center;
		}

		.state-icon {
			color: var(--color-text-muted);
		}
	}
}
