<import from="./signup-modal.css"></import>

<dialog
  ref="dialogElement"
  cancel.trigger="$event.preventDefault()"
  class="signup-dialog"
>
  <div class="[ signup-modal-content ] [ animate-modal-enter ]">
    <div class="signup-emoji">🎵</div>
    <h2 t="signup.title" class="signup-title"></h2>
    <p t="[html]signup.description" class="signup-desc"></p>
    <button
      click.trigger="handleSignUp()"
      disabled.bind="isSigningUp"
      class="signup-btn"
    >
      <span if.bind="!isSigningUp" t="signup.button"></span>
      <span if.bind="isSigningUp" class="signup-spinner"></span>
    </button>
    <p if.bind="signUpError" class="signup-error">${signUpError}</p>
  </div>
</dialog>
