:80 {
	root * /srv
	file_server
	try_files {path} /index.html

	@config path /config.json
	header @config Cache-Control "no-cache, no-store, must-revalidate"
	header @config Content-Type "application/json; charset=utf-8"

	@sw path /sw.js
	header @sw Cache-Control "no-cache"
	header @sw Service-Worker-Allowed "/"
}
