.event-detail-dialog {
	position: fixed;
	inset: auto 0 0;

	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	border: none;

	background: transparent;

	transition:
		transform 300ms ease-out,
		overlay 300ms ease-out allow-discrete,
		display 300ms ease-out allow-discrete;
}

.event-detail-dialog[open] {
	transform: translateY(0);

	@starting-style {
		transform: translateY(100%);
	}
}

.event-detail-dialog:not([open]) {
	transform: translateY(100%);
}

.event-detail-dialog::backdrop {
	background: oklch(0% 0 0deg / 60%);
	backdrop-filter: blur(4px);
	transition:
		opacity 300ms ease-out,
		overlay 300ms ease-out allow-discrete,
		display 300ms ease-out allow-discrete;
}

.event-detail-dialog[open]::backdrop {
	opacity: 1;

	@starting-style {
		opacity: 0;
	}
}

.event-detail-dialog:not([open])::backdrop {
	opacity: 0;
}
