<import from="./coach-mark.css"></import>

<dialog
  ref="overlayEl"
  popover="manual"
  class="[ coach-mark-overlay ]"
>
  <div class="visual-spotlight"></div>

  <div class="click-blocker mask-top" click.trigger="onBlockerClick()"></div>
  <div class="click-blocker mask-right" click.trigger="onBlockerClick()"></div>
  <div class="click-blocker mask-bottom" click.trigger="onBlockerClick()"></div>
  <div class="click-blocker mask-left" click.trigger="onBlockerClick()"></div>
  <div class="click-blocker target-interceptor" click.trigger="onTargetClick($event)"></div>

  <div class="coach-mark-tooltip" aria-label="Onboarding tip" role="tooltip">
    <p class="coach-tooltip-message">${message}</p>
  </div>
</dialog>
