<import from="./hype-inline-slider.css"></import>

<fieldset class="[ hype-slider ]">
  <legend class="[ visually-hidden ]">Hype level</legend>
  <div class="hype-slider-track"></div>
  <label repeat.for="stop of stops" class="hype-slider-stop">
    <input type="radio"
      name.bind="'hype-' + artistId"
      model.bind="stop"
      checked.bind="hype"
      class="[ visually-hidden ]">
    <span
      class="hype-slider-dot"
      data-active.bind="stop === hype"
      data-level.bind="stop"
      dot-color.bind="hypeColor">
    </span>
  </label>
</fieldset>
