dialog.user-home-selector {
	position: fixed;
	inset-block: auto 0;
	inset-inline: 0;
	translate: 0 0;

	overflow: visible;
	display: block;

	width: 100%;
	max-width: 100%;
	max-height: 80vh;
	margin: 0;
	padding: 0;
	border: none;

	opacity: 1;
	background: transparent;

	transition:
		opacity 300ms ease-out,
		translate 300ms ease-out,
		overlay 300ms ease-out allow-discrete,
		display 300ms ease-out allow-discrete;
}

dialog.user-home-selector:not([open]) {
	translate: 0 100%;
	display: none;
	opacity: 0;
}

@starting-style {
	dialog.user-home-selector[open] {
		translate: 0 100%;
		opacity: 0;
	}
}

dialog.user-home-selector::backdrop {
	opacity: 1;
	background: oklch(0% 0 0deg / 60%);
	backdrop-filter: blur(4px);
	transition:
		opacity 300ms ease-out,
		overlay 300ms ease-out allow-discrete,
		display 300ms ease-out allow-discrete;
}

dialog.user-home-selector:not([open])::backdrop {
	opacity: 0;
}

@starting-style {
	dialog.user-home-selector[open]::backdrop {
		opacity: 0;
	}
}

@media (prefers-reduced-motion: reduce) {
	dialog.user-home-selector,
	dialog.user-home-selector::backdrop {
		transition-duration: 0ms;
	}
}
